*{
    font-family: sans-serif;
    color: #4a4a4a;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 24px;
    height: 32px;
}
#academy {
    color: #bebebe;
}
nav {
    display: flex;
    right: 24px;
    padding: 0;
    align-items: center;
}
#menu{
    display: none;
}
.item {
    margin: 0px 16px;
}
.banner {
    display: flex;
    background-color: #d8d8d8;
    margin-top: 5px;
    padding: 24px;
    justify-content: center;
}

.container {
    max-width: 50%;
    padding-right: 32px;
    justify-content: center;
}
.swiper-slide {
    width:100%;
    justify-content: center;
    text-align: center;
}
.swiper-slide h2 {
    position: absolute;
    left: 30%;
    top: 35%;
    color: white;
    width: 40%;
    height: 30%;
}
.swiper-slide img {
    
    width: 100%;
    height: fit-content;
    justify-content: center;
    filter: brightness(50%);
    
}
#side {
    padding: 5% 0;
}


#side p{
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    background-color: #4a4a4a;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.button p {
    color: white;
    margin: 0;
}
.main {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 0 5%;
}
.main video {
    width: 100%;
    height: auto;
}
#video {
    width: 60%;
    padding: 32px;
}
#video h2 {
    text-align: center;
}
.main img {
    padding: 5%;
    margin-top: 5%;
    width: 35%;
}
#sideBar {
    width: 40%;
    align-items: center;
}
#orientation {
    display: flex;
    justify-content: start;
    align-items: center;
}
#guestLecture {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #d8d8d8;
}
#campus {
    display: flex;
    justify-content: start;
    align-items: center;
}
.text {
    width: 65%;
}

@media only screen and (max-width: 800px) {
    .item {
        display: none;
    }
    #menu{
        display: flex;
        height: 32px;
    }
    .banner{
        flex-wrap: wrap;
    }
    header {
        justify-content: space-between;
    }
    body {
        margin: 0;
    }
    .container {
        max-width: 100%;
        padding-right: 0;
    }
    .container img {
        padding: 0;
    }
    .main {
        flex-wrap: wrap;
    }
    #video {
        width: 100%;
    }
    #sideBar {
        width: 100%;
    }
}